/iari-range-authorization.xml
/iari-standalone-authorization.xml
/extension*.xml
/ext.2eaElQ4box3WNV_7MWwoxtYfnkDQiMq8wnR7vw.xml
/mnc099.mcc099.messaging-range-ext0.xml
/mnc099.mcc099.messaging-range-ext1.xml
